body {
    margin: 0;
    color: rgb(95, 95, 95);
    font-family: source sans pro;
}

header {
    display: flex;
    justify-content: center;
    background-color: rgb(6, 205, 219);   
}
#container-topo {
    width: 1024px;
    display: flex;
    justify-content: space-between;
}

#home img {
   width: 100px;
}

#home a {
    text-decoration: none;
}

#container-menu-nav ul {
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
}

#container-menu-nav ul li{
    padding-left: 15px;
}

#container-menu-nav a {
    text-decoration: none; 
    color: white;
}

#container-menu-nav a:hover {
    color: black;
}

#banner img {
    width: 100%;
}

#slogan {
    width: 1024px;
    color: rgba(255, 255, 255, 0.726);
    font-size: 26px;
    position: absolute;
    bottom: 170px;
    left: 120px;
}

#slogan h1 {
    width: 650px;
}

#sobre-container-principal {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#sobre-parte-1 {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

#sobre-parte-2 {
    height: 250px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 30px;
}

#sobre-parte-2 h3 {
    text-align: left;
    position: relative;
    top: 20px;
}
#sobre-parte-2 ul {
    position: relative;
    float: right;
    top: 20px;
    text-align: left;
    right: 20px;
}

#sobre-parte-2 img {
    position: relative;
    float: left;
}

#especialidades-container-principal {
    width: 1024px;
    height: 460px;
    margin-top: 85px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

#apresentacao-especialidades-parte-1 {
    width: 60%;
    margin-right: auto;
    margin-left: auto;
}

#apresentacao-especialidades-parte-2 {
    height: 500px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
}
.card-especialidade {
    width: 290px;
    height: 220px;
    border-radius: 3px;
    margin-top: 40px;
    box-shadow: 2px 2px 5px;
}

.card-especialidade img {
    width: 290px;
    height: 180px;
}

.card-especialidade p {
    position: relative;
    bottom: 10px;
}

#ver-horarios {
    background-color: rgb(6, 205, 219);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 190px;
    width: 150px;
    height: 40px;
    margin-right: auto;
    margin-left: auto;
}

#ver-horarios-link {
    text-decoration: none;
    color: white;
}

#limitador-section-final {
    height: 460px;
}

#contato-e-endereco {
    position: relative;
    bottom: 00px;
    text-align: center;
    width: 1024px;
    margin-right: auto;
    margin-left: auto
}

#iframe {
    position: relative;
    display: flex;
    justify-content: center;
    width: 95vw;
    margin-right: auto;
    margin-left: auto;
}

iframe {
    width: 95vw;
    height: 400px;
}

footer {
    display: flex;
    flex-flow: column wrap;
    justify-content: right;
    background-color: rgb(6, 205, 219);
    width: 100%;
    height: 250px;
    margin-top: 70px;
}

footer img {
    width: 115px;
    height: 65px;
}

#conteudo-footer {
    position: relative;
    bottom: 10px;
    color: white;
    width: 1024px;
    height: 250px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}

#conteudo-footer p {
    height: 15px;
    margin-bottom: 0px;
}

#conteudo-footer a {
    text-decoration: none;
    color: white;
}

#conteudo-footer a:visited {
    color: white;
}

#conteudo-footer a:hover {
    color: orange;
}

@media (min-width: 1024px) and (max-width: 1279px) {
    header {width: 100%;}
    #container-topo {display: flex; justify-content: space-around;}
    #banner {height: 400px; width: 100%;}
    #banner img {height: 400px; }
    #slogan {display: relative; width: 800px; bottom: 240px; left: 40px;}
    #sobre-container-principal {width: 100%;}
    #especialidades-container-principal {width: 100%}
    #apresentacao-especialidades-parte-2 {display: flex; justify-content: space-around;}
    #contato-e-endereco {width: 100%;}
    footer {width: 100%;}
    #conteudo-footer {width: 100%;}
}

@media (min-width: 769px) and (max-width: 1024px) {
    header {width: 100%}
    #container-topo {display: flex; justify-content: space-around;}
    #banner {height: 400px; width: 100%}
    #banner img {height: 400px; width: 100%}
    #slogan {display: relative; width: 600px; bottom: 240px; left: 40px;}
    #slogan h1 {font-size: 36px;}
    #sobre-container-principal {width: 100%; height: 350px;}
    #sobre-parte-2 ul {position: relative; float: none; top: 35px; left: 15px;}
    #especialidades-container-principal {width: 100%; height: 715px;}
    #apresentacao-especialidades-parte-2 {display: flex; justify-content: space-around;}
    #ver-horarios {position: relative; top: 60px;}
    #contato-e-endereco {width: 100%;}
    footer {width: 100%; margin-top: 25px; height: 220px;}
    #conteudo-footer {width: 100%;}
}

@media (min-width: 597px) and (max-width: 768px) {
    header {width: 100%}
    #container-topo {display: flex; justify-content: space-around;}
    #banner {height: 300px;}
    #banner img {height: 300px; width: 100%;}
    #slogan {display: relative; width: 400px; bottom: 290px; left: 20px;}
    #slogan h1 {font-size: 26px; width: 400px;}
    #sobre-container-principal {width: 100%; height: 360px;}
    #sobre-parte-1 {position: relative; top: 20px;}
    #sobre-parte-2 img {display: none;}
    #sobre-parte-2 h3 {text-align: center;}
    #sobre-parte-2 ul {width: 370px; position: relative; float: none;}
    #especialidades-container-principal {width: 100%; height: 700px; margin-top: 0px;}
    #apresentacao-especialidades-parte-1 {margin-top: 35px;}
    #apresentacao-especialidades-parte-2 {display: flex; justify-content: space-around;}
    #ver-horarios {position: relative; top: 50px;}
    #limitador-section-contato {position: relative; top: 0px; height: 460px;}
    #contato-e-endereco {width: 100%;}
    #iframe {height: 300px;}
    iframe {height: 300px;}
    footer {margin-top: 25px; width: 100%; height: 220px;}
    #conteudo-footer {width: 100%; height: 220px;}
}

@media (max-width: 500px) {
    
    #banner {height: 250px;}
    #banner img {height: 250px;}
    #slogan {display: relative; width: 400px; bottom: 310px; left: 20px;}
    #slogan h1 {font-size: 26px; width: 400px;}
    #sobre-container-principal {width: 100%;}
    #sobre-parte-2 img {display: none;}
    #sobre-parte-2 h3 {text-align: center;}
    #especialidades-container-principal {width: 100%; height: 1000px;}
    #apresentacao-especialidades-parte-2 {display: flex; justify-content: space-around;}
    #ver-horarios {position: relative; top: 300px;}
    #contato-e-endereco {width: 100%; position: relative; bottom: 20px;}
    footer {margin-top: 10px; width: 100%; height: 220px;}
    #conteudo-footer {width: 100%; height: 220px;}
}