body {
    margin: 0;
    color: rgb(95, 95, 95);
    font-family: source sans pro;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(6, 205, 219);   
}

#home img {
   width: 100px;
   position: relative;
   left: 10px;
}

#home a {
    text-decoration: none;
}

#container-menu-nav ul {
    list-style-type: none;
    position: relative;
    right: 10px;
    display: flex;
}

#container-menu-nav ul li:not(:last-child) {
    padding-right: 15px;
}

#container-menu-nav a {
    text-decoration: none; 
    color: white;
}

#container-menu-nav a:hover {
    color: black;
}

#banner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 500px;
    background-image: url(imagens/recepcao.png);
    background-size: cover;
    font-size: 32px;
    color: rgba(255, 255, 255, 0.726);
}

#sobre-container-principal {
    width: 1024px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#sobre-parte-1 {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

#sobre-parte-2 {
    width: 60%;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 30px;
}

#container-foto-e-lista {
    display: flex;
    align-items: center;
    margin-top: 50px;
}

#sobre-parte-2 h3 {
    text-align: center;
    position: relative;
    top: 20px;
}
#sobre-parte-2 ul {
    position: relative;
    float: right;
    top: 20px;
    text-align: left;
    font-weight: bold;
    right: 20px;   
}

#sobre-parte-2 ul li:not(:last-child) {
    margin-bottom: 5px;
}

#sobre-parte-2 img {
    position: relative;
    float: left;
}

#especialidades-container-principal {
    width: 1024px;
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

#apresentacao-especialidades-parte-1 {
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
}

#apresentacao-especialidades-parte-2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
}
.card-especialidade {
    width: 290px;
    height: 220px;
    border-radius: 3px;
    margin-top: 40px;
    box-shadow: 2px 2px 5px;
}

.card-especialidade img {
    width: 290px;
    height: 180px;
}

.card-especialidade p {
    position: relative;
    bottom: 10px;
}

#ver-horarios {
    background-color: rgb(6, 205, 219);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    width: 150px;
    height: 40px;
    margin-right: auto;
    margin-left: auto;
}

#ver-horarios-link {
    text-decoration: none;
    color: white;
}

#limitador-section-final {
    height: 460px;
}

#limitador-section-contato {
    margin-top: 40px;
}

#contato-e-endereco {
    position: relative;
    bottom: 00px;
    text-align: center;
    width: 1024px;
    margin-right: auto;
    margin-left: auto
}

#iframe {
    position: relative;
    display: flex;
    justify-content: center;
    width: 95vw;
    margin-right: auto;
    margin-left: auto;
}

iframe {
    width: 95vw;
    height: 400px;
}

footer {
    display: flex;
    flex-flow: column wrap;
    background-color: rgb(6, 205, 219);
    width: 100%;
    height: 250px;
    margin-top: 70px;
}

footer img {
    width: 115px;
    height: 65px;
}

#conteudo-footer {
    position: relative;
    bottom: 10px;
    color: white;
    height: 250px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#conteudo-footer p {
    margin-bottom: 0px;
}

#conteudo-footer a {
    text-decoration: none;
    color: white;
}

#conteudo-footer a:visited {
    color: white;
}

#conteudo-footer a:hover {
    color: orange;
}

@media (max-width: 1024px) {
    body {width: 100%;}
    #slogan {width: 500px;}
    #sobre-container-principal {width: 100%;}
    #especialidades-container-principal {width: 100%;}
    #contato-e-endereco {width: 100%;}
    #conteudo-footer {width: 100%;}
}

@media (max-width: 870px) {
    #apresentacao-especialidades-parte-2 {display: flex; justify-content: space-around;}
}

@media (max-width: 768px) {
    body {width: 100%;}
    #container-foto-e-lista {display: flex; flex-direction: column;}
    #container-foto-e-lista img {display: none;}
    #container-foto-e-lista ul {top: 0px; left: 0px;}
    #container-foto-e-lista ul li:not(:last-child) {padding-bottom: 25px;}
    #especialidades-container-principal {margin-top: 80px;}
}

@media (max-width: 680px) {
    #banner {height: 300px;}
    h1 {font-size: 32px;}
}

@media (max-width: 520px) {
    #banner {height: 250px;}
    h1 {font-size: 24px;}
    h2 {font-size: 20px;}
    #sobre-parte-1 {width: 100%;}
    #apresentacao-especialidades-parte-1 {width: 100%;}
}

@media (width: 431px) {
    #banner {height: 220px;}
    #conteudo-footer :nth-child(3) {text-align: center;}
}

@media (max-width: 425px) {
    body {width: 100%;}
}

@media (max-width: 380px) {
    header {display: block; height: 80px;}
    #home {display: flex; justify-content: center; height: 55%; border-bottom: solid white 1px}
    #container-menu-nav {display: flex; justify-content: center; align-items: center; height: 45%;}
    #banner {height: 220px;}
    h1 {font-size: 22px;}
}

@media (max-width: 320px) {
    #banner {height: 200px;}
    #sobre-parte-2{width: 100%;}
    h1 {font-size: 18px}
    h2 {font-size: 18px;}
}